label.cameraButton {
  display: inline-block;
  margin: 1em 0;

  padding: 0.5em;
  border: 2px solid #666;
  border-color: #EEE #CCC #CCC #EEE;
  background-color: #DDD;
}

label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

label.cameraButton input[accept*="camera"] {
  display: none;
}

#image {
  background-image: url("C:\Users\Adrian\Documents\DigestQuest\axure\resources\resources\images\3rd page.PNG");
  margin: 20% 20%;
}
